<h1>Bookstores</h1>

<% @bookstores.each do |bookstore| %>
  <% Bookstore.order(:created_at) %>
  <h3><%= link_to bookstore.name, "/bookstores/#{bookstore.id}" %></h3><%= bookstore.created_at %>
<% end %>

<p><%= link_to "Back to All Books", "/books" %></p>