<nav>
  <a href="/books">All Books</a> |
  <a href="/">Back to Home</a> 
</nav>

<h1>Bookstores</h1>

<% sorted_bookstores = @bookstores.sort_by { |b| b.created_at }.reverse %>

<% sorted_bookstores.each do |bookstore| %>
  <h3><%= link_to bookstore.name, "/bookstores/#{bookstore.id}" %></h3><%= bookstore.created_at %>
<% end %>

<h3><%= link_to "Add a new bookstore", "/bookstores/new" %></h3>


