<form action="/bookstores/new" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Enter a New Bookstore </h1>
  <p>Name</p><textarea name='bookstore[name]'></textarea><br/>
  <p>City</p><textarea name='bookstore[city]'></textarea><br/>
  <p>Hours</p><textarea name='bookstore[hours]'></textarea><br/>
  <p>Parking spots</p><textarea name='bookstore[parking_spots]'></textarea><br/><br/>
  <label for="coffee_shop">Does this location have a coffee_shop?</label><br/>
    <select option="true-or-false">
    <option value="true">Yes</option>
    <option value="false">No</option>
    </select><br/><br/><br/>
  <input type='submit'/>
</form>